<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% for emp in employees %}
    <p>
      {{ emp.employee_name }} - {{ emp.employee_address }} - {{ emp.employee_phone_number }}
      <a href="{% url 'employee_update' emp.pk %}">Edit</a>
      <a
        href="{% url 'employee_delete' emp.pk %}"
        onclick="return confirm('Are you sure you want to delete this task?');"
        >Delete</a
      >
    </p>
    {% endfor %}
    <a href="{% url 'employee_create' %}">Create Task</a>

    <a href="{% url 'logout' %}">Logout</a>
  </body>
</html>